<%-include("partials/header")-%>
<%-include("partials/aboutusfavicons/favicons")-%>

<!--
  .container {
  display: flexbox;
  justify-content: left;
}
-->
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .heading1{
      margin-top: 10%;
    }
    .signup {
      margin-left: 10px;
      padding-left: 23px;
      padding-right: 23px;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }



  h1{
  display: block;
  font-size: 4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.center {
  width: 800px;
  height: 60px;
  padding: 10px;
  background: #e4e9f3;
  color: #fff;
  font-family: 'Calibri';
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-left: 15%;
}

.container-fluid{
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
.top-color{
  background-color: rgb(228, 105, 23);
}
.container-color{
  background-color: rgba(235, 232, 232, 0.877);
}

.question{
  width: 800px;
  padding: 2px;
  margin-left: 35px;
  margin-top: 20px;
}

.ruler{
		background-color: rgb(0, 62, 65);
    height: 3px;
    width: 350px;
    }

.v{
  border-left: 6px solid rgb(250, 144, 22);
  height: 100%;
  left: 10%;
  margin-left: -3px;
  margin-top: 2%;
}

  </style>
  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
  <link rel="stylesheet" href="navarCss\styles.css">
</head>

<body>
  <header>
    <% if(!signedIntoAccount){ %>
    <%-include("partials/navbar")%>
    <%}else{%>
      <%-include("partials/signInNavbar")%>
      <%}%>
  </header>

<!-- ______________________________________________________________
______________________________________________________________main content
______________________________________________________________
 ______________________________________________________________ -->
 <div class="container-fluid top-color">
			<h1 style="text-align: center; color: white;">First Time Donor ? </h1>
			<hr style="height: 4px; width: 300px; background-color: white;">
</div>

</br></br>


<p style="text-indent: 50px;">

</p>

</br>
<p style="color: rgba(77, 34, 39, 0.966);text-indent: 50px;">
<strong>Donating blood is a great experience and everyone should enjoy the feeling of helping others and saving lives. </strong>
</p>
<p style="color: rgba(77, 34, 39, 0.966);text-indent: 50px;">
    <strong>Here are some things to keep in mind if you havent donated blood before. </strong>
    </p>


</br>


<!-- Medical conditions div tag-->
<h2 style="text-align:center;display: block; color:rgb(0, 62, 65);;font-size:30px;"> Why Give Blood ? </h2>
<hr class="ruler">
<h5 style="color:rgb(4, 96, 99);font-size:22px;margin-left:80px;"><strong>You don't need a special reason to give blood. You just need your own reason.</strong></h5>

<div class="container-fluid container-color">
<div class="row" style=" width: 1100px;">
<div class="v">

  <!-- 1st question-->
  <div class="question" style="margin-top: 25px;">
    <h5 >
        Some of us give blood because we were asked by a friend.
    </h5>

  </div>


  <!-- 2nd question-->
  <div class="question">
    <h5 >
        Some know that a family member or a friend might need blood some day.
    </h5>
  </div>

  <!-- 3 question-->
  <div class="question">
    <h5 >
        Some believe it is the right thing to do.
    </h5>
  </div>

  <!-- 4 question-->
  <div class="question">
    <h5 >
        Some do it for the free cookies and juice.
    </h5>

  </div>
  </div>
  </div>
  </div>

</br></br>


<!-- Medical Procedures div tag-->
<h2 style="text-align:center;display: block; color:rgb(0, 62, 65);;font-size:30px;">Common Concerns</h2>
<hr class="ruler">
<h5 style="color:rgb(4, 96, 99);font-size:22px;margin-left:80px;"><strong>Many people are reluctant to make their first blood donation, but once they do, they find the donation process to be easy and gratifying.</strong></h5>

<div class="container-fluid container-color">
<div class="row" style="width: 1100px;">
<div class="v">

  <!-- 1st question-->
  <div class="question" style="margin-top: 25px;">
    <h5 >
        Unsure if travel or medications will prevent you from donating blood?
    </h5>
    No travel will not cause you to prevent blood as long as you haven't picked any foreign infections
  </div>


  <!-- 2nd question-->
  <div class="question">
    <h5 >
        Is it safe to donate?
    </h5>
    Yes donating blood under proper supervision is a completely safe process
  </div>

  <!-- 3 question-->
  <div class="question">
    <h5 >
        Afraid of needles?
    </h5>
    Some people may experience
different levels of discomfort during their blood donation.

  When you donate blood, you give more life—and that outlasts any temporary pain during your donation.
  So, just try to stay focused on all of the life-saving benefits your donation will bring!
  </div>

    <!-- 3 question-->
    <div class="question">
        <h5 >
                    </h5>
      </div>

</div>
</div>
</div>

</br></br>


<!-- Medications div tag-->
<h2 style="text-align:center;display: block; color:rgb(0, 62, 65);;font-size:30px;">How to Get Ready</h2>
<hr class="ruler">
<div class="container-fluid container-color">
<div class="row" width: 1100px;>
<div class="v">

  <!-- 1st question-->
  <div class="question" style="margin-top: 25px;">
    <h5 >
      Eat Iron-Rich foods
    </h5>

  </div>


  <!-- 2nd question-->
  <div class="question">
    <h5 >
      Drink Extra Liquids
    </h5>
  </div>

  <!-- 3 question-->
  <div class="question">
    <h5 >
      Review Eligibility
      </h5>
  </div>


</div>
</div>
</div>

<%-include("partials/footer")-%>
  </br>
  </br>

  <footer>

    <div class="footer-main" style="margin-left:20%;">
    <div >
        <div >
            <nav class="social-links col-xl-3" data-context="social-links">


            </nav>
            <nav class="footer-links col-xl-9" data-context="footer-links">
                <span class="copyright">©2020 The Blood Connect Website</span>


                    <a data-aa-footer-link="Footer Link Not Set" href="/" target="_blank">   Home |          </a>

                    <a data-aa-footer-link="Footer Link Not Set" href="/signup""> Sign-Up |</a>

                    <a data-aa-footer-link="Footer Link Not Set" href="/signin" target="_blank">  Sign-In |            </a>


                    <a data-aa-footer-link="Footer Link Not Set" href="/AboutTeam">About Us |</a>


                    <a data-aa-footer-link="Footer Link Not Set" href="/eligible">Am I Eigible To donate?</a>



            </nav>
        </div>
    </div>
  </div>

</footer>
